* {
  margin: 0;
  padding: 0;
}

.navbar {
  padding: 20px;
  background-color: lightseagreen;
}

.search {
  display: flex;
  justify-content: center;
  padding: 25px;
}

.card {
  display: flex;
  justify-content: center;
}